<div class="container py-5">
    
    <div class="row justify-content-center g-4">
        <!-- Primera Tarjeta de Contacto -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 border-0 shadow">
                <img src="assets/Marco.jpeg" class="card-img-top profile-img" alt="Foto de Marco Bocanegra">
                <div class="card-body text-center">
                    <h4 class="card-title fw-bold">Marco Bocanegra</h4>
                    <p class="card-text text-muted mb-2">
                        <i class="fas fa-code me-2"></i>Desarrollo Frontend
                    </p>
                    <hr>
                    <p class="card-text">
                        <i class="fas fa-envelope me-2"></i>
                        <a href="mailto:mbocanegram3@upao.edu.pe" class="text-decoration-none">mbocanegram3&#64;upao.edu.pe</a>
                    </p>
                    <p class="card-text">
                        <i class="fab fa-linkedin me-2 linkedin-icon"></i>
                        <a href="https://linkedin.com/in/marco-bocanegra-marrufo-58555b336" target="_blank" class="text-decoration-none">linkedin.com/in/marco-bocanegra-marrufo-58555b336</a>
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Segunda Tarjeta de Contacto -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 border-0 shadow">
                <img src="assets/daniel.jpg" class="card-img-top profile-img" alt="Foto de Daniel Rodriguez">
                <div class="card-body text-center">
                    <h4 class="card-title fw-bold">Daniel Rodríguez</h4>
                    <p class="card-text text-muted mb-2">
                        <i class="fas fa-server me-2"></i>Desarrollo Backend
                    </p>
                    <hr>
                    <p class="card-text">
                        <i class="fas fa-envelope me-2"></i>
                        <a href="mailto:drodrigueza10@upao.edu.pe" class="text-decoration-none">drodrigueza10&#64;upao.edu.pe</a>
                    </p>
                    <p class="card-text">
                        <i class="fab fa-linkedin me-2 linkedin-icon"></i>
                        <a href="https://www.linkedin.com/in/daniel-alexander-rodriguez-alfaro-154081243/" target="_blank" class="text-decoration-none">linkedin.com/in/daniel-alexander-rodriguez-alfaro-154081243/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
